<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAxE-2Q7sdM25m3I7sVwzlOCsU7gcVpaJ8</string>
	<key>GCM_SENDER_ID</key>
	<string>474695661234</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.fluttertodoapp</string>
	<key>PROJECT_ID</key>
	<string>todo-e6b91</string>
	<key>STORAGE_BUCKET</key>
	<string>todo-e6b91.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:474695661234:ios:6b2b78db5e59596c537bab</string>
</dict>
</plist>